<section class="hero py-8">
  <div
    class="
      container
      mx-auto
      px-0
      md:px-3
      lg:px-10
      flex
      items-center
      justify-between
    "
  >
    <div class="w-full xl:w-1/2">
      <div class="py-2 md:py-3 lg:py-4">
        <h6 class="text-xs lg:text-sm xl:text-lg"><em>Are you hungry?</em></h6>
      </div>
      <hr />
      <div class="py-2 md:py-3 lg:py-4">
        <h1 class="text-lg md:text-2xl lg:text-4xl xl:text-5xl font-bold">
          Welcome to STREET FOOD!
        </h1>
      </div>
      <hr />
      <div class="py-2 md:py-3 lg:py-4">
        <h3
          class="text-xs sm:text-sm md:text-lg lg:text-xl xl:text-3xl font-bold"
        >
          <em>Hey, Come on! Don't wait.</em>
        </h3>
      </div>
      <div class="pb-2 md:py-3 lg:py-4">
        <a href="#menu">
          <button
            class="
              text-xs
              md:text-base
              xl:text-lg
              px-6
              py-2
              rounded-full
              text-white
              font-bold
              mt-4
              btn-primary
            "
          >
            Order Now
          </button>
        </a>
      </div>
    </div>
    <div class="w-full xl:w-1/2 streetImg">
      <img class="rounded-full" src="/img/street.jpg" alt="" />
    </div>
  </div>
</section>
<section class="menu container px-20 py-8 mx-auto">
  <h1
    id="menu"
    class="text-xl md:text-2xl lg:text-3xl font-bold mb-8 text-center"
  >
    The Street Food Specials
  </h1>
  <div
    class="
      grid grid-cols-1
      md:grid-cols-2
      lg:grid-cols-3
      xl:grid-cols-4
      gap-x-20 gap-y-16
    "
  >
    <% foods.forEach(function(food){ %>
    <div class="w-full md:w-64">
      <img
        class="h-40 mb-4 mx-auto w-60 rounded-2xl shadow-2xl"
        src="/img/<%= food.image %>"
        alt=""
      />
      <div class="text-center">
        <h2 class="mb-4 text-lg"><%= food.name %></h2>
        <span class="size py-1 px-4 rounded-full uppercase text-sm"
          ><%= food.quantity %></span
        >
        <div class="flex items-center justify-around mt-6">
          <span class="font-bold text-lg">₹<%= food.price %></span>
          <button
            data-food="<%= JSON.stringify(food) %>"
            class="
              add-to-cart
              py-1
              px-6
              rounded-full
              flex
              items-center
              font-bold
            "
          >
            <span>+</span>
            <span class="ml-4">Add</span>
          </button>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</section>
